.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk";
  height: 100vh;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.modal__radio-buttons label {
  display: block;
  margin-top: 10px;
  color: #00000080;
}

.modal__radio-buttons input[type="radio"] {
  margin-right: 5px;
}

.modal__radio-buttons .active {
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00000080;
  border: none;
  cursor: pointer;
}
