.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__logo {
  height: 40px;
  width: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: transparent;
  padding: 0;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}

.header__username-link {
  text-decoration: none;
  color: #000;
}

.header__avatar-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__auth-buttons {
  display: flex;
  gap: 12px;
}

.header__button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.header__button:hover {
  text-decoration: underline;
}

.header__login-btn {
  background-color: transparent;
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 20px;
}

.header__login-btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__register-btn {
  background-color: transparent;
  font-weight: 700;
  margin: 0 0 0 20px;
  padding: 0;
}

.header__register-btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__logout-btn {
  background: none;
  border: none;
  color: #e63946;
  font-size: 16px;
  cursor: pointer;
}

.header__logout-btn:hover {
  text-decoration: underline;
}
