.modal__content_item {
  background-color: #fff;
  position: relative;
  padding: 0;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px 16px;
}

.modal__image {
  position: relative;
  padding: 0;
  margin: 0;
  width: 498px;
  height: 498px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.modal__footer {
  margin: 0;
  padding: 32px 0 32px 32px;
}

.modal__caption {
  padding: 0 0 12px 0;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__weather {
  padding: 0;
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
